{% extends 'base.html' %}
{% block content %}
<h4> Le contenu du Commune html</h4>

<div class="content_commune">
    <div class="row">
        <div class="col">
            <h2>Nom : {{commune[1]}}</h2>
            Meteo :
            <h5>
                Degré = {{meteo["temp"]}}
                Déscription= {{meteo["desc"]}}
            </h5>
        </div>
        <div class="col">
            <h2>L'autre fichier</h2>
            {% include 'map.html' %}
        </div>
    </div> 
    <div>
        Desciption : </br>
        {{commune[5]}}
    </div>
    <div>

    </div>
</div>

<script>
</script>
{% endblock %}