{% extends 'base.html' %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commune.css') }}">
{% endblock %}


{% block content %}
<h4> Le contenu du Commune html</h4>

<div class="row">
    <div class="col">
        <h2>Nom : {{commune[1]}}</h2>
        Meteo :
        <h5>
            Degré = {{meteo["temp"]}}
            Déscription= {{meteo["desc"]}}
        </h5>
    </div>
    <div class="col">
        <h2>Map</h2>
        {% include 'map.html' %}
    </div>
</div> 
<div>
    Desciption : </br>
    {{commune[5]}}
</div>
<div>
    <ul>
        {% for plante in plantes %}
            <li><a href="http://127.0.0.1:5000/plante/{{plante[0]}}">{{plante[1]}}</a></li>
        {% endfor %}
    </ul>
</div>


<script>
</script>
{% endblock %}