<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7158a36e93d64cd9a5437c489d4f4120 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7158a36e93d64cd9a5437c489d4f4120" ></div>
        
</body>
<script>    
    
            var map_7158a36e93d64cd9a5437c489d4f4120 = L.map(
                "map_7158a36e93d64cd9a5437c489d4f4120",
                {
                    center: [-18.89523134876237, 47.5418858782649],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2667f7fcb2644746962595a7b244b887 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7158a36e93d64cd9a5437c489d4f4120);
        
    
            var marker_86c9fc37950b4983af1593dca5ada79c = L.marker(
                [-18.9056253261246, 47.5254063857985],
                {}
            ).addTo(map_7158a36e93d64cd9a5437c489d4f4120);
        
    
        var popup_cdaf26b359284c2990da75428f487ce6 = L.popup({"maxWidth": "100%"});

        
            var html_646af0dadc484398bbc66fa89ee4b3cc = $(`<div id="html_646af0dadc484398bbc66fa89ee4b3cc" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/104>Kiangara</a></div>`)[0];
            popup_cdaf26b359284c2990da75428f487ce6.setContent(html_646af0dadc484398bbc66fa89ee4b3cc);
        

        marker_86c9fc37950b4983af1593dca5ada79c.bindPopup(popup_cdaf26b359284c2990da75428f487ce6)
        ;

        
    
    
            marker_86c9fc37950b4983af1593dca5ada79c.bindTooltip(
                `<div>
                     Kiangara
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ec707098c7340e3a0c2d8212708519f = L.marker(
                [-17.6782650066573, 47.6317640750209],
                {}
            ).addTo(map_7158a36e93d64cd9a5437c489d4f4120);
        
    
        var popup_981520a13bab406a9c2add8480432ca7 = L.popup({"maxWidth": "100%"});

        
            var html_0ae30a3fea38447ebf7dfd056ac08e22 = $(`<div id="html_0ae30a3fea38447ebf7dfd056ac08e22" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/314>Anjinjaomby</a></div>`)[0];
            popup_981520a13bab406a9c2add8480432ca7.setContent(html_0ae30a3fea38447ebf7dfd056ac08e22);
        

        marker_3ec707098c7340e3a0c2d8212708519f.bindPopup(popup_981520a13bab406a9c2add8480432ca7)
        ;

        
    
    
            marker_3ec707098c7340e3a0c2d8212708519f.bindTooltip(
                `<div>
                     Anjinjaomby
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b3037cdd91446fea7362654e882efb4 = L.marker(
                [46.95407, 142.73603],
                {}
            ).addTo(map_7158a36e93d64cd9a5437c489d4f4120);
        
    
        var popup_08878ddf40884e6abf538b426e0361bf = L.popup({"maxWidth": "100%"});

        
            var html_5f56c63576f04c78ab85d2966c883d8a = $(`<div id="html_5f56c63576f04c78ab85d2966c883d8a" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/103>Fihaonana</a></div>`)[0];
            popup_08878ddf40884e6abf538b426e0361bf.setContent(html_5f56c63576f04c78ab85d2966c883d8a);
        

        marker_6b3037cdd91446fea7362654e882efb4.bindPopup(popup_08878ddf40884e6abf538b426e0361bf)
        ;

        
    
    
            marker_6b3037cdd91446fea7362654e882efb4.bindTooltip(
                `<div>
                     Fihaonana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3659b39839734e079b523aae2651cd1d = L.marker(
                [-18.8952313487624, 47.5418858782649],
                {}
            ).addTo(map_7158a36e93d64cd9a5437c489d4f4120);
        
    
        var popup_4208f448797d46efb3daaedf8f64cfe4 = L.popup({"maxWidth": "100%"});

        
            var html_a3c72b2632d742bf9594445ad98ee45f = $(`<div id="html_a3c72b2632d742bf9594445ad98ee45f" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/313>Anjialava</a></div>`)[0];
            popup_4208f448797d46efb3daaedf8f64cfe4.setContent(html_a3c72b2632d742bf9594445ad98ee45f);
        

        marker_3659b39839734e079b523aae2651cd1d.bindPopup(popup_4208f448797d46efb3daaedf8f64cfe4)
        ;

        
    
    
            marker_3659b39839734e079b523aae2651cd1d.bindTooltip(
                `<div>
                     Anjialava
                 </div>`,
                {"sticky": true}
            );
        
</script>