<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c42cd06507394d44946dd20874964429 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c42cd06507394d44946dd20874964429" ></div>
        
</body>
<script>    
    
            var map_c42cd06507394d44946dd20874964429 = L.map(
                "map_c42cd06507394d44946dd20874964429",
                {
                    center: [-18.89523134876237, 47.5418858782649],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_181a3069c4f1427887c7647b949945ee = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c42cd06507394d44946dd20874964429);
        
    
            var marker_0839a86926e14e4e937059fec4f78e4c = L.marker(
                [-18.9056253261246, 47.5254063857985],
                {}
            ).addTo(map_c42cd06507394d44946dd20874964429);
        
    
        var popup_5ef8be80c92d431e988895f0c882b5f4 = L.popup({"maxWidth": "100%"});

        
            var html_c813866c097742fe829303fdb4bcde6c = $(`<div id="html_c813866c097742fe829303fdb4bcde6c" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/104>Kiangara</a></div>`)[0];
            popup_5ef8be80c92d431e988895f0c882b5f4.setContent(html_c813866c097742fe829303fdb4bcde6c);
        

        marker_0839a86926e14e4e937059fec4f78e4c.bindPopup(popup_5ef8be80c92d431e988895f0c882b5f4)
        ;

        
    
    
            marker_0839a86926e14e4e937059fec4f78e4c.bindTooltip(
                `<div>
                     Kiangara
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_55798120abcd430e95b3f3862f02c6b8 = L.marker(
                [-17.6782650066573, 47.6317640750209],
                {}
            ).addTo(map_c42cd06507394d44946dd20874964429);
        
    
        var popup_3a84a25dff874750a4569fddfad1ccce = L.popup({"maxWidth": "100%"});

        
            var html_e2b6ef69e0e14fa4b9ea3d8f367e1af0 = $(`<div id="html_e2b6ef69e0e14fa4b9ea3d8f367e1af0" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/314>Anjinjaomby</a></div>`)[0];
            popup_3a84a25dff874750a4569fddfad1ccce.setContent(html_e2b6ef69e0e14fa4b9ea3d8f367e1af0);
        

        marker_55798120abcd430e95b3f3862f02c6b8.bindPopup(popup_3a84a25dff874750a4569fddfad1ccce)
        ;

        
    
    
            marker_55798120abcd430e95b3f3862f02c6b8.bindTooltip(
                `<div>
                     Anjinjaomby
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_85be1535af284095b5d99bb5c027d5e5 = L.marker(
                [46.95407, 142.73603],
                {}
            ).addTo(map_c42cd06507394d44946dd20874964429);
        
    
        var popup_0592d02f67ef4a8aa5934d541f021ecc = L.popup({"maxWidth": "100%"});

        
            var html_53aacdcb8566469ea75aaa62edb2fdf5 = $(`<div id="html_53aacdcb8566469ea75aaa62edb2fdf5" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/103>Fihaonana</a></div>`)[0];
            popup_0592d02f67ef4a8aa5934d541f021ecc.setContent(html_53aacdcb8566469ea75aaa62edb2fdf5);
        

        marker_85be1535af284095b5d99bb5c027d5e5.bindPopup(popup_0592d02f67ef4a8aa5934d541f021ecc)
        ;

        
    
    
            marker_85be1535af284095b5d99bb5c027d5e5.bindTooltip(
                `<div>
                     Fihaonana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc2015e256634bcc88f36d2c1c47bf5a = L.marker(
                [-18.8952313487624, 47.5418858782649],
                {}
            ).addTo(map_c42cd06507394d44946dd20874964429);
        
    
        var popup_c283f84d2f714293b23bd7266414cdc9 = L.popup({"maxWidth": "100%"});

        
            var html_5ca14a1722534099ad956efb8559aa24 = $(`<div id="html_5ca14a1722534099ad956efb8559aa24" style="width: 100.0%; height: 100.0%;"><a href=http://localhost:5000/commune/313>Anjialava</a></div>`)[0];
            popup_c283f84d2f714293b23bd7266414cdc9.setContent(html_5ca14a1722534099ad956efb8559aa24);
        

        marker_cc2015e256634bcc88f36d2c1c47bf5a.bindPopup(popup_c283f84d2f714293b23bd7266414cdc9)
        ;

        
    
    
            marker_cc2015e256634bcc88f36d2c1c47bf5a.bindTooltip(
                `<div>
                     Anjialava
                 </div>`,
                {"sticky": true}
            );
        
</script>